@charset "utf-8";

body,td,th {
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.loginbody {
	background-color: #660;
	margin-left: 20%;
	margin-top: 5%;
	margin-right: 20%;
	margin-bottom: 0%;
}
.mainbody {
	background-color: #660;
	width: auto;
}
.mainbody table {
	text-align: center;
	margin-right: auto;
	
	width: auto;
}
.mainbody ul {
	list-style-type: none;
}
.mainbody fieldset {
	width: auto;
	margin-top: 10px;
}
	.mainbody fieldset textarea {
		width: 100%;
		height: 120px;
	}
a { color: #003300; }
a:hover { color: #003330; }
a:visited { color: #003333; }
.logowrapper {
	background-color: #660;
}
